<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    <% @events.each do |event| %>
      <% if !(event.lat.nil? && event.long.nil?) %>
        {
          "lat": <%=event.lat%>,
          "lng": <%=event.long%>,
          "infowindow": "<%=event.title%>",
        },
      <% end %>
    <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
