<h1>New Event</h1>

<%= render 'form', event: @event %> 

<%= link_to 'Back', events_path %>

<script>
	window.onload = function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(showPosition);
		}
	}

	function showPosition(position) {
		document.getElementById("event_lat").value = position.coords.latitude;
		document.getElementById("event_long").value = position.coords.longitude;
	}
</script>